.header{

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
  }

  &__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 58px;
  }

  &__list{
    display: flex;
    // justify-content: space-between;
    gap: 32px;
  }

  &__item-link{
    text-decoration: none;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: $dimgrey;

    &:hover{
      color: $orange
    }

  }
}
.button{
  @include button;
}

.button:hover{
  @include button-hover;
}

.button:active{
  @include button-active;
}