.hero{
  margin-bottom: 160px;

  .container-big{
    background-image: url("./../../images/hero-img-1440-1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__container{
    padding: 152px 0;
  }

  &__wrapper{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }

  &__wrapper-title{
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: $white;
  }

  &__wrapper-text{
    position: relative;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: $white;
    margin-left: 95px;

    &::before{
      content: "";
      position: absolute;
      top: 50%;
      right: calc(100% + 57px);
      transform: translateY(-50%);
      display: inline-block;
      width: 203px;
      height: 15px;
      background-color: $orange;
    }

    &::after{
      content: "";
      position: absolute;
      top: 50%;
      left: calc(100% + 40px);
      width: 452px;
      height: 151px;
      display: inline-block;
      background-image: url("./../../images/arrow-hero.svg");
    }
  }

  &__btn{
    margin-left: 95px;
  }

}

@media only screen and (max-width: 1000px){
  .hero{
    // margin-bottom: 160px;
    border: 1px solid red;

    .container-big{
      background-size: 100% 100%;
      background-position: top;
    }
    &__container{
      padding: 110px 0;
    }

    &__wrapper{
      max-width: 430px;
      gap: 30px;
    }

    &__wrapper-title{
      font-size: 50px;
      line-height: 50px;
    }

    &__wrapper-text{
      margin-left: 65px;

      &::after{
        content: "";
        position: absolute;
        top: 30%;
        left: calc(100% + 30px);
        background-repeat: no-repeat;
        background-size: 285px 140px;
        background-position: left top;
      }
    }

    &__btn{
      margin-left: 65px;
    }

  }
}

@media only screen and (max-width: 768px){
  .hero{
    // margin-bottom: 160px;
    border: 1px solid blue;

    .container-big{
      background-size: cover;
      background-position: top;
    }
    &__container{
      padding: 90px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

    }

    &__wrapper{
      max-width: 550px;
    }

    &__wrapper-text{
      margin-left: 0px;

      &::before{
        display: none;
      }

      &::after{
        display: none;
      }
    }

    &__btn{
      margin: 0 auto;
    }

  }
}


@media only screen and (max-width: 662px){
  .hero{
    // margin-bottom: 160px;
    border: 1px solid orange;

    .container-big{
      background-size: cover;
    }
    &__container{
      padding: 90px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

    }

    &__wrapper{
      max-width: 550px;
    }

    &__wrapper-text{
      margin-left: 0px;

      &::before{
        display: none;
      }

      &::after{
        display: none;
      }
    }

    &__btn{
      display: flex;
    }

  }
}